*.[oa]
*.py[co]
*~
~*
.DS_Store
*.bak
*.orig*
*.swp*
*.#*

# Buildout turds
/bin
/parts
/eggs
/.eggs
/develop-eggs
.installed.cfg

# setuptools turds
/build
/dist
/*.egg
*.egg-info

# test turds
/coverage
*.prof
/.tox
